*, *::before, *::after {
    box-sizing: inherit;
  }
  
  .container {
    margin: 0 auto;
    max-width: 1100px;
  }
  
  .container-flex {
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    max-width: 1100px;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
  }

  #cuenta-carrito {
    background-color: #ffffff;
    border-radius: 10px;
    color: #ff0000;
  }
    
    header {
      width: 100%;
      margin: 0 auto;
      padding: 10px 20px;
      text-align: center;
      align-items: center;
      background-color: #db0000;    
    }
  
    header img {
      width: 200px;
      border-radius: 10px;
      background-color: white;
    }
  
    img#logo {
      width: 200px;
      padding: 10px;
      border-radius: 10px;
      background-color: white;
  }
    
    nav ul {
      list-style: none;
      display: flex;
    }
    
    nav ul li {
      margin-right: 10px;
    }
  
    nav ul li a {
      text-decoration: none;
      color: #ffffff;
      font-weight: bold;
    }
  
    nav ul li a {
      text-decoration: none;
      color: #ffffff;
      font-weight: bold;
    }
  
    nav ul li a:hover {
      color: #ff0000;
      background-color: #ffffff;
    }

.contenedor {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1100px;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
}

.container-cards{
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  max-width: 1100px;
  align-items: center;
  justify-content:space-evenly;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 10px #000000;
}

.card-footer {
  display: inline;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #000000;
}

.btnAgregar {
  border-radius: 10px;
  background-color: #db0000;
  color: #ffffff;
}

.card-body {
  text-align: center;
}

.card-price {
  display: inline;
  font-size: 30px;
  font-weight: bold;
  color: #1fb801;
}

.card-title {
  font-size: 30px;
  font-weight: bold;
  color: #000000;
}